.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(231, 219, 43);
  padding: 10px;
}

.header{
  padding: 10px;
}
footer{
  font-size:small;
  color:rgb(68, 10, 226)

}

body{
  padding: 10px;
}